section.footer
	.container
		p Copyright 2017 © CompanyName, All rights reserved
		.foot-nav
			ul.inline-layout
				li
					a(href="#") Support
				li
					span.separator
				li
					a(href="#") Contacts
								
