section.header
	.top-menu
		.container
			.my-account
				ul.inline-layout
					li
						a(href="#").acc-img My account
							img(src="img/icons/user-ico.png", alt="")
					li
						a(href="#") Logout
	.navigation
		.container
			.image-holder.logo-holder
				a(href="#")
					img(src="img/icons/logo.png", alt="")

			ul.nav-list.inline-layout
				li
					a(href="#").plus
						span +
						| Add Device
				li
					a(href="#").active Device List
				li
					a(href="#") Statistics
			.search-holder
				form(action="")
					label(for="") Search device
					.search-wrap
						input(type="text", placeholder="Serial No, Name")
						a(href="")





